# Untracked files:
# ignore freeCAD backup files
*.FCBak
# ignore folder in work
freeCad/underWork/
# ignore KiCad backup files
kiCAD/pendulum_KiCAD-backups/
kiCAD/kicadTest-backups/
kiCAD/*.bak
# ignore video files
videos/
